<!-- snippets/conversion-tracking.liquid -->
{% comment %}
This file contains all conversion tracking data. This must be copied directly into the admin at: 
https://*.myshopify.com/admin/settings/checkout
{% endcomment %}

<!-- Google Conversion -->
{% if shop.currency == 'AUD' %}
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 993129976;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "aF-WCKT3hWgQ-OvH2QM";
        var google_conversion_value = {{ total_price | money_without_currency }};
        var google_conversion_currency = "{{ shop.currency }}";
        var google_remarketing_only = false;
        /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/993129976/?value={{ total_price | money_without_currency }}&amp;currency_code={{ shop.currency }}&amp;label=aF-WCKT3hWgQ-OvH2QM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
{% else %}
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 993129976;
        var google_conversion_language = "en";
        var google_conversion_format = "3";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "66HqCIi_mAgQ-OvH2QM";
        var google_conversion_value = {{ total_price | money_without_currency }};
        var google_conversion_currency = "{{ shop.currency }}";
        var google_remarketing_only = false;
        /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/993129976/?value={{ total_price | money_without_currency }}&amp;currency_code={{ shop.currency }}&amp;label=66HqCIi_mAgQ-OvH2QM&amp;guid=ON&amp;script=0"/>
        </div>
    </noscript>
{% endif %}

<!-- Begin AdRoll -->
<script type="text/javascript">
    adroll_adv_id = "RJXY7XTZB5F43GOX72U2WQ";
    adroll_pix_id = "VYYRODGNTVAKHIM2MX44YJ";
    adroll_email = "{{ customer.email }}";
    (function () {
        var _onload = function(){ 
            if (document.readyState && !/loaded|complete/.test(document.readyState)){setTimeout(_onload, 10);return}
            if (!window.__adroll_loaded){__adroll_loaded=true;setTimeout(_onload, 50);return}
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
                document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
        };
        if (window.addEventListener) {window.addEventListener('load', _onload, false);}
        else {window.attachEvent('onload', _onload)}
    }());
</script>
<script type="text/javascript">
  adroll_conversion_value = {{ total_price | money_without_currency }};
  adroll_currency = "{{ shop.currency }}";
  adroll_custom_data = {
        "ORDER_ID": "{{ order_number }}",
        "USER_ID": "{{ customer.name }}"
    };
</script>
<!-- End AdRoll -->

<!-- Optimizely -->
<script>
window.optimizely = window.optimizely || [];
window.optimizely.push(['trackEvent', 'purchase_complete', '{{subtotal_price}}']);
</script>

<!-- AvantLink: Begin -->
<script type="text/javascript">
    var _AvantMetrics = _AvantMetrics || [];
    _AvantMetrics.push(['order',{ order_id:'{{ order_number }}', amount:'{{ subtotal_price | money_without_currency }}', state:'{{ billing_address.province_code }}', country:'{{ billing_address.country_code }}', currency: '{{ shop.currency }}' }]);
    {% for line_item in line_items %}
    _AvantMetrics.push(['item',{ order_id:'{{ order_number }}', parent_sku:'{{ line_item.product.id }}', variant_sku:'{{ line_item.sku }}', price:'{{ line_item.line_price | money_without_currency }}', qty:'{{ line_item.quantity }}' }]);
    {% endfor %}
</script>
<script type="text/javascript">
(function() {
var avm = document.createElement('script'); avm.type = 'text/javascript'; avm.async = true;
avm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.avmws.com/1013770/';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(avm, s);
})();
</script>
<!-- AvantLink: End -->