<!-- snippets/product-ski-main-information.liquid -->

<header>
  <h1 itemprop="name" class="product-title">
    {% if model %}
      {{ model.title }} "{{ edition }}"
    {% else %}
      {{ product.title }}
    {% endif %}
  </h1>
</header>
<div class="product-offers" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
  {% assign variant = product.selected_or_first_available_variant %}
  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
  <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
  <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
    <div class="product-pricing">
      {% include 'product-price' %}
    </div>
    {% if model %}
      {% if settings.usestamped == true %}
        <a href="javascript:void(0)" class="reviewscroll"><span class="stamped-product-reviews-badge stamped-main-badge" data-product-id="{{ model.id }}"   data-id="{{ model.id }}" style="display: inline-block;"></span> </a>
      {% else %}
        <div class="product-reviews-badge">
          <a href="#reviews"><span class="shopify-product-reviews-badge" data-id="{% if model %}{{ model.id }}{% else %}{{ product.id }}{% endif %}"></span></a>
        </div>
      {% endif %}
    {% endif %}
    <div class="offer product-options">
      <header class="offer-header">
        <a class="offer-link pull-right" href="#sizechart" data-toggle="modal" role="button" data-target="#sizechart">Size Chart <i class="fa fa-chevron-circle-right"></i></a>
      </header>
      {% include 'product-option-selectors' %}
    </div>
    {% include 'add-to-cart-buttons' %}
  </form>
</div> <!-- /.product-offers -->
